* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    background-color: grey;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(auto, 1fr);
    // grid-template-areas: 
    //     "head" "head" "head";
}

.product {
    text-align: center;
    padding: 20px;
}

.product img {
    width: 200px;
    height: 200px;
}

.sort {
    grid-column: span 4;
    padding: 20px;
}