@import url('../css/null.css');

@font-face {
	font-family: 'Arial Narrow';
	src: url('../fonts/arial_narrow.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/arial_narrow.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/arial_narrow.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/arial_narrow.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/arial_narrow.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/arial_narrow.svg#arial_narrow') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Poppins Medium 500 Italic';
	src: url('../fonts/poppins_medium_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/poppins_medium_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/poppins_medium_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/poppins_medium_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/poppins_medium_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/poppins_medium_italic.svg#poppins_medium_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Poppins Medium 500';
	src: url('../fonts/poppins_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/poppins_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/poppins_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/poppins_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/poppins_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/poppins_medium.svg#poppins_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Poppins SemiBold 700';
	src: url('../fonts/poppins_semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/poppins_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/poppins_semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/poppins_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/poppins_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/poppins_semibold.svg#poppins_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Roboto Condensed Bold';
	src: url('../fonts/roboto_condensed_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/roboto_condensed_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/roboto_condensed_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto_condensed_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/roboto_condensed_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/roboto_condensed_bold.svg#roboto_condensed_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Roboto Condensed Light';
	src: url('../fonts/roboto_condensed_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/roboto_condensed_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/roboto_condensed_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto_condensed_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/roboto_condensed_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/roboto_condensed_light.svg#roboto_condensed_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/roboto_condensed.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/roboto_condensed.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/roboto_condensed.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto_condensed.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/roboto_condensed.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/roboto_condensed.svg#roboto_condensed') format('svg'); /* Chrome < 4, Legacy iOS */
}

// colors
$orangeColor: #f44336;
$greyColor: #999999;

// fonts
$RC: 'Roboto Condensed';
$RCLight: 'Roboto Condensed Light';
$RCBold: 'Roboto Condensed Bold';
$AN: 'Arial Narrow';
$PMedium500Italic: 'Poppins Medium 500 Italic';
$PMedium500:'Poppins Medium 500';
$PSemiBold700: 'Poppins SemiBold 700';

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1920px;
    min-width: 1920px;
    margin: 0 auto;
}

hr {
    border: 0.5px solid white;
    position: absolute;
    width: 100%;
    bottom: 1px;
}

.top {
    min-height: 725px;
    background-image: url(../img/img-Main/Fon.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.6s ease-in-out;
}

header {
    padding-top: 13px;
    position: relative;
}

.top__header {
    min-height: 83px;
    opacity: 0.5;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 475px;
    .logo {
        margin-top: 5px;
        margin-right: 128px;
        h1 {
            font-family: $PMedium500;
            font-size: 36px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #ffffff;
            margin-bottom: 5px;
        }
        span {
            font-family: $PMedium500;
            font-size: 15px;
            letter-spacing: 2.0em;
            color: #ffffff;
            margin-left: 2px;
        }
    }
    .info {
        display: flex;
        margin-bottom: 3px;
        .phone, .mail {
            font-family: $RC;
            font-size: 16.7px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #ffffff;
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            img {
                margin-right: 14px;
            }
        }
        .phone {
            margin-right: 39px;
        }
        .mail {
            margin-right: 100px;
        }
    }
    .search {
        display: flex;
        margin-bottom: 10px;
        input {
            width: 157px;
            height: 38px;
            border: 1px solid #ffffff;
            background-color: transparent;
            padding: 6px 16px;
            color: #ffffff;
            &::placeholder {
                font-family: $RC;
                font-size: 16.7px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: #ffffff;
            }
        }
        .search-icn {
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            padding: 9px 15px 8px 17px;
            &:hover {
                cursor: pointer;
            }
            img {
                width: 18px;
                height: 19px;
            }
        }
    }
}

.lower__header {
    display: flex;
    justify-content: center;
    .menu {
        width: 531px;
        display: flex;
        justify-content: space-between;
        a {
            padding: 29px 11px 27px 15px;
            font-family: $RC;
            font-size: 16.7px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0.01em;
            color: #000000;
            border-bottom: 3px solid transparent;
            &:hover {
                color: #ffffff;
                border-bottom: 3px solid #ffffff;
            }
        }
    }
}

.top__central-block {
    align-self: center;
    padding-top: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top__small-title {
        font-family: $RC;
        font-size: 18px;
        line-height: 48px;
        font-weight: 400;
        letter-spacing: 0.01em;
        color: #ffffff;
        position: relative;
        margin-bottom: 82px;
        &::after {
            content: "";
            width: 80px;
            height: 2px;
            background-color: #ffffff;
            position: absolute;
            bottom: -4px;
            right: 0px;
            left: 0px;
            margin: auto;
        }
    }
    .top__big-title {
        font-family: $PMedium500;
        font-size: 60px;
        line-height: 48px;
        font-weight: 500;
        letter-spacing: 0.01em;
        color: #ffffff;
        margin-bottom: 73px;
    }
    .top__social {
        .top__social-btn {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 2px solid #ffffff;
            background-repeat: no-repeat;
            border-radius: 20px;
            background-position: center;
            margin-right: 10px;
            :last-child {
                margin-right: 0px;
            }
        }
        .top__facebook {
            background-image: url('../img/img-Main/top_facebook_logo.png');
        }
        .top__twitter {
            background-image: url('../img/img-Main/top_twitter_logo.png');
        }
        .top__rss {
            background-image: url('../img/img-Main/top_rss.png');
        }
        .top__vk {
            background-image: url('../img/img-Main/top_vk_social_net_logo.png');
        }
    }
}

.about-us {
    padding: 81px 474px 81px 475px;
    display: flex;
    img {
        margin-left: 30px;
    }
    .about-us__info {
        padding-top: 10px;
        .about-us__title {
            font-family: $PMedium500;
            font-size: 36px;
            line-height: 36px;
            font-weight: 500;
            color: $orangeColor;
            margin-bottom: 30px;
        }
        .about-us__text {
            font-family: $RCLight;
            font-size: 12px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.01em;
            color: $greyColor;
            margin-bottom: 24px;
            word-break: break-all;
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    padding: 0 464px 106px 464px;
    background-color: #f7f7f7;
    .services__title {
        text-align: center;
        width: 100%;
        font-family: $PMedium500;
        font-size: 36px;
        line-height: 48px;
        color: $orangeColor;
        margin-bottom: 75px;
    }
    .services__items-row {
        width: 100%;
        display: flex;
        margin-bottom: 73px;
        &:last-child {
            margin-bottom: 0;
        }
        .services__item {
            display: flex;
            &:hover .services__icon {
                background-color: $orangeColor;
            }
            &:hover .services__subtitle {
                color: $orangeColor;
            }
        }
        .services__icon {
            width: 102px;
            height: 102px;
            border: 1px solid #acacac;
            background-color: #e1e1e1;
            flex-shrink: 0;
            border-radius: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(2n) {
                margin-left: 66px;
                margin-right: 45px;
            }
            &:nth-child(2n+1) {
                margin-right: 66px;
                margin-left: 45px;
            }
        }
        .services__textblock {
            padding-top: 4px;
            .services__subtitle {
                font-family: $PMedium500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.01em;
                color: #000000;
                display: inline-block;
                margin-bottom: 10px;
            }
            .services__text {
                font-family: $RC;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.01em;
                color: #999999;
            }
        }
        .textblock-left {
            text-align: right;
        }
    
        .textblock-right {
            text-align: left;
        }
    }
}

.gallery {
    padding: 93px 374px 186px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .gallery__title {
        font-family: $PMedium500;
        font-size: 36px;
        line-height: 48px;
        color: $orangeColor;
        width: 100%;
        text-align: center;
        margin-bottom: 92px;
    }
    .gallery__product {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 271px;
        align-items: center;
        background-color: #f7f7f7;
        padding: 0 0 13px 0;
        img {
            width: 271px;
            height: 378px;
            border: 1px solid #acacac;
        }
        .gallery__game-title {
            padding: 19px 51px 0;
            font-family: $PMedium500;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.01em;
            color: #000000;
            text-align: center;
            min-height: 70px;
        }
        .gallery__game-name {
            text-transform: uppercase;
        }
        .gallery__buy-btn {
            width: 130px;
            height: 30px;
            background-color: $orangeColor;
            font-family: $PMedium500;
            font-size: 14.1px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #ffffff;
        }
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/img-Main/layers_testimonial.png');
    background-repeat: no-repeat;
    padding: 78px 375px 98px;
    .testimonial__title {
        width: 100%;
        text-align: center;
        font-family: $PMedium500;
        font-size: 48px;
        line-height: 48px;
        color: #ffffff;
        margin-bottom: 83px;
    }
    img {
        width: 45px;
        height: 38px;
        margin-bottom: 50px;
    }
    .slider {
        display: flex;
        .slider__btn {
            width: 37px;
            height: 37px;
            border: 1px solid #ffffff;
            flex: 0 0 37px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .slider__arrow {
                width: 11px;
                height: 11px;
            }
        }
        .slider__left-btn {
            margin-right: 80px;
            .left-arrow{
                border-left: 1px solid #ffffff;
                border-bottom: 1px solid #ffffff;
                transform: rotate(45deg);
                margin-left: 5px;
            }
        }
        .slider__right-btn {
            margin-left: 80px;
            .right-arrow {
                border-right: 1px solid #ffffff;
                border-bottom: 1px solid #ffffff;
                transform: rotate(-45deg);
                margin-right: 5px;
            }  
        }
        .slider__container {
            text-align: center;
            .slider__text {
                font-family: $RCLight;
                font-size: 14px;
                line-height: 24px;
                color: #ffffff;
                margin-bottom: 20px;
            }
            .slider__author {
                font-family: $RCLight;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 1.2;
                color: #ffffff;
                .slider__author-name {
                    font-family: $RCBold;
                    font-size: 16px;
                    line-height: 1.2;
                }
            }
        }  
    }
}

.newsandevents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 97px 375px 96px 389px;
    .newsandevents__arrows {
        position: absolute;
        top: 230px;
        right: 415px;
        display: flex;
        cursor: pointer;
        .newsandevents__left-arrow {
            width: 13px;
            height: 13px;
            border-bottom: 4px solid black;
            border-left: 4px solid black;
            transform: rotate(45deg);
        }
        .newsandevents__right-arrow {
            width: 13px;
            height: 13px;
            border-bottom: 4px solid black;
            border-right: 4px solid black;
            transform: rotate(-45deg);
        }
    }
    .newsandevents__title {
        width: 100%;
        font-family: $PMedium500;
        font-size: 36px;
        line-height: 48px;
        color: $orangeColor;
        text-align: center;
        margin-bottom: 80px;
    }
    .newsandevents__subtitle {
        font-family: $PMedium500;
        font-size: 24px;
        line-height: 48px;
        color: #000000;
    }
    .newsandevents__lates-news {
        margin-bottom: 17px;
    }
    .newsandevents__featured-events {
        border-bottom: 1px solid #c5c5c5;
        margin-bottom: 32px;
    }
    .newsandevents__news {
        margin-right: 90px;
        li {
            display: flex;
            margin-bottom: 49px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .newsandevents__news-date {
            width: 98px;
            min-height: 139px;
            border: 1px solid #e8e8e8;
            border-radius: 49px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
            flex-grow: 0;
            flex-shrink: 0;
            .newsandevents__news-date-of-month {
                font-family: $PMedium500;
                font-size: 32px;
                line-height: 48px;
                color: #000000;
            }
            .newsandevents__news-month {
                font-family: $PMedium500;
                font-size: 14px;
                line-height: 10px;
                color: #9e9e9e;
            }
            .newsandevents__news-year {
                font-family: $PMedium500;
                font-size: 13px;
                line-height: 30px;
                font-style: italic;
                color: #9e9e9e;
            }

        }
        .newsandevents__news-text-block {
            margin-left: 67px;
            max-width: 310px;
            .newsandevents__news-heading {
                font-family: $RCBold;
                font-size: 16px;
                line-height: 48px;
                color: #f44336;
            }
            .newsandevents__news-text{
                font-family: $RCLight;
                font-size: 14px;
                line-height: 24px;
                color: #9e9e9e;
            }
        }
    }
    .newsandevents__events {
        .newsandevents__events-img {
            margin-bottom: 45px;
        }
    }
    .newsandevents__events-text {
        max-width: 540px;
        .newsandevents__events-heading {
            font-family: $RCBold;
            font-size: 16px;
            line-height: 43px;
            color: #000000;
            list-style: none;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            &::before {
                content: "+";
                position: absolute;
                left: 13px;
            }
        }
        &[open] .newsandevents__events-heading::before {
            content: "-";
        }
        p {
            background-color: #f5f5f5;
            padding: 38px 23px 38px 13px;
            font-family: $RCLight;
            font-size: 12px;
            line-height: 24px;
            color: #505050;
        }
    }
}

.our-team {
    padding: 98px 375px 79px;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    .our-team__title {
        width: 100%;
        font-family: $PSemiBold700;
        font-size: 36px;
        line-height: 48px;
        font-weight: 600;
        color: $orangeColor;
        text-align: center;
        margin-bottom: 50px;
    }
    .our-team__human-info {
        display: flex;
        flex-direction: column;
        img {
            margin-bottom: 26px;
        }
        .our-team__first-last-name {
            font-family: $PMedium500;
            font-size: 24px;
            line-height: 20px;
            color: $orangeColor;
        }
        .our-team__human-post {
            font-family: $RCLight;
            font-size: 16px;
            line-height: 38px;
            font-weight: 300;
            color: #838383;
            margin-bottom: 5px;
        }
        .our-team__social {
            a {
                display: inline-block;
                border: 2px solid black;
                width: 30px;
                height: 30px;
                text-align: center;
                padding-top: 6px;
                margin-right: 13px;
                &:last-child {
                    margin-right: 0;
                }
                img {
                    margin-bottom: 0;
                }
            }
            
        }
    }
}

.subscribe {
    padding: 86px 645px 80px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .subscribe__background {
        background-image: url('../img/img-Main/Fon.jpg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -350px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        filter: brightness(60%);
    }
    .subscribe__title {
        width: 100%;
        text-align: center;
        font-family: $PMedium500;
        font-size: 48px;
        line-height: 48px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 48px;
    }
    .subscribe__email {
        width: 499px;
        height: 55px;
        background-color: #ffffff;
        padding: 22px 0 22px 30px;
        margin-right: 8px;
        &[placeholder] {
            font-family: $RCLight;
            font-size: 14px;
            color: #8e8e8e;
        }
        &::-moz-placeholder {
            font-family: $RCLight;
            font-size: 14px;
            color: #8e8e8e;
        }
        &:-moz-placeholder {
            font-family: $RCLight;
            font-size: 14px;
            color: #8e8e8e;
        }
        &:-ms-input-placeholder {
            font-family: $RCLight;
            font-size: 14px;
            color: #8e8e8e;
        }
    }
    .subscribe__button {
        width: 119px;
        height: 53px;
        background-color: $orangeColor;
        font-family: $RCLight;
        font-size: 14px;
        line-height: 48px;
        color: #ffffff;
        cursor: pointer;
    }
}

.contact {
    padding: 87px 474px 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .contact__title {
        width: 100%;
        text-align: center;
        font-family: $PSemiBold700;
        font-size: 36px;
        line-height: 48px;
        color: $orangeColor;
        margin-bottom: 76px;
    }
    .contact__info {
        max-width: 390px;
        .contact__header {
            font-family: $RC;
            font-size: 26px;
            line-height: 48px;
            font-weight: 400;
            color: $orangeColor;
        }
        p {
            font-family: $RCLight;
            font-size: 14px;
            line-height: 17px;
            color: #9e9e9e;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        .contact__email {
            span {
                font-family: $RCLight;
                font-size: 14px;
                line-height: 17px;
                color: $orangeColor;
            }
        }
    }
    .contact__form {
        max-width: 471px;
        .contact__input-text, .contact__input-email {
            width: 470px;
            height: 42px;
            border: 1px solid #999999;
            margin-bottom: 21px;
            padding-left: 10px;
        }
        .contact__textarea {
            width: 470px;
            height: 168px;
            border: 1px solid #999999;
            margin-bottom: 19px;
            resize: none;
            padding-left: 10px;
            padding-top: 10px;
        }
        .contact__btn {
            width: 140px;
            height: 40px;
            background-color: $orangeColor;
            font-family: $RC;
            font-size: 14px;
            color: #ffffff;
            text-transform: uppercase;
            cursor: pointer;
        }

        .contact__input-text, .contact__input-email, .contact__textarea {
            &[placeholder] {
                font-family: $RC;
                font-size: 14px;
                color: #8e8e8e;
            }
            &::-moz-placeholder {
                font-family: $RC;
                font-size: 14px;
                color: #8e8e8e;
            }
            &:-moz-placeholder {
                font-family: $RC;
                font-size: 14px;
                color: #8e8e8e;
            }
            &:-ms-input-placeholder {
                font-family: $RC;
                font-size: 14px;
                color: #8e8e8e;
            }
        }
    }
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 375px 90px;
    .map__title {
        width: 100%;
        text-align: center;
        font-family: $PSemiBold700;
        font-size: 36px;
        line-height: 48px;
        font-weight: 600;
        color: $orangeColor;
        margin-bottom: 25px;
    }
}

.footer {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 0 28px 0;
    .footer__text {
        font-family: $AN;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #ffffff;
    }
}

.circlewitharrow{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $orangeColor;
    top: -5px;
    right: 53px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .circlewitharrow-arrow {
        height: 10px;
        width: 10px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(-45deg);
    }
}