@import url('../css/null.css');

form {
    max-width: 800px;
    margin: 0 auto;
    background-color: wheat;
    padding: 20px;
    display: flex;
    flex-direction: column;
    fieldset {
        max-width: 200px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
        legend {
            margin-left: 20px;
        }
        p {
            min-height: 14px;
        }
        input {
            border: 1px solid transparent;
        }
    }
    .btn {
        display: inline-block;
        width: 50px;
        padding: 5px 10px;
    }
    textarea {
        resize: none;
    }

    .error-msg{
        color: red;
        margin: 10px 0;
    }
    .invalid{
        border: 2px solid red;
    }
    .valid{
        border: 2px solid green;
    }
}